.postarea {
    background: white;
    padding: 1rem;
    border-radius: 10px;
}
.postarea__top {
    display: flex;
    width: 100%;
}
.postarea__user_icon {
    height: 45px;
    width: 45px;
    border-radius: 50%;;
}
.postarea__form{
    width: 90%;
    margin: auto;
    height: 45px;
    border: none;
    border-radius: 20px;
    background: #eff2f5;
}
.postarea__form::-webkit-input-placeholder {
    font-size: 22px;
    margin-right: 10px;
}