.content {
    width: 900px;
    margin: 0 auto;
    padding: 1rem;
}
.story__deck{
    max-width: 900px;
    margin: 2rem auto;
    display: flex;
    justify-content: space-around;
}
@media only screen and (max-width: 880px) {
    .story__deck_card:nth-of-type(4) {
        display: none;
    }
}

@media only screen and (max-width: 805px) {
    .story__deck_card:nth-of-type(4) {
        display: block;
    }
}

@media only screen and (max-width: 700px) {
    .story__deck_card:nth-of-type(4) {
        display: none;
    }
}

