.content {
    width: 900px;
    margin: 0 auto;
    padding: 1rem;
    left: 350px;
}
.story__deck{
    max-width: 900px;
    margin: 2rem auto;
    display: flex;
    justify-content: space-around;
}
