.logo {
    margin-top: 100px;
    height: 40px;
    margin: auto 5px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 99%;
    padding: .25rem;
    background-color: white;
    position: fixed;
    top: 0;
    left:0;
    z-index: 2;
}
.nav__left {
    display: flex;
    width: 250px;
    margin: auto 0;
}
.nav__left .MuiInput-root {
    background-color: rgba(187, 187, 187, 0.22);
    border-radius: 30px;
    border-bottom: none;
    height: 40px;
    margin: auto;
}

.MuiInput-root:before {
    border: none !important;
}
.nav__left .MuiSvgIcon-root {
    border-left: 50px !important;
}

.nav__middle {
    width: 700px;
    display: flex;
    justify-content: center;
    margin: 0 auto !important;
}
.nav__middle .MuiSvgIcon-root {
    color: rgb(92, 90, 90);
    font-size:  20px;
    margin: auto 5px;
    font-weight: 400;
}
.nav__ico .MuiSvgIcon-root {
    height:35px;
    width: 100px;
    padding: .2rem;
}
.nav__ico {
    border-radius: 10px;

}
.active {
    border-bottom: solid 3px #1b74e4;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.active .MuiSvgIcon-root {
    color: #1b74e4;
}
.nav__ico:hover {
    background: rgba(187, 187, 187, 0.22);
    cursor: pointer;
}
.nav__right {
    width: 340px;
    display: flex;
    justify-content: space-evenly;
    margin: auto 0;
}
.nav__user{
    border-radius: 30px;
    margin: auto 0;
    width: max-content;
}
.nav__user span {
    font-weight: bold;
}
.nav__user:hover {
    background:rgba(187, 187, 187, 0.364);
}
.user__logo {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.nav__right .nav__user {
    width: 30%;
    display: flex;
    justify-content: center;
    margin: auto;
}
.nav__right .nav__user span {
    margin: auto 5px;
}
.nav__right .nav__control_ico {
    width: 230px;
    display: flex;
    justify-content: space-evenly;
}
.nav__right .nav__control_ico .MuiSvgIcon-root {
    background: rgba(187, 187, 187, 0.364);
    padding: 0.6rem;
    border-radius: 50%;
}
.nav__right .nav__control_ico .MuiSvgIcon-root:hover {
    background: rgba(187, 187, 187, 0.541);
    cursor: pointer;
}
.responsive__navmenu_ico {
    display: none;
}
.responsive__navmenu_ico .MuiSvgIcon-root {
    font-size: 35px;
}

/*responsive only classes*/

.responsive__search_ico *{
    margin: auto;
    background:#eff2f5;
    height: 35px;
    width: 50px;
    padding: 1rem;
    border-radius: 50%;;
}
.responsive__search_ico {
    display: none;
}
.responsive__navmenu_ico .MuiSvgIcon-root {
    padding: .5rem;
}
.responsive__navmenu_ico {
    border-radius: 7px;

}
.responsive__navmenu_ico:hover {
    background: #eff2f5;
    cursor: pointer;
}

@media only screen and (max-width: 1280px) {
    .responsive__search_ico {
        margin-top:4px;
        display: block;
    }
    #input-with-icon-adornment {
        display: none;
    }
    .MuiInput-root {
        display: none;
    }
    #asd {
        display: none;
    }
    .nav__left {
        justify-content: flex-start;
    }
    .nav__left > .MuiInput-root {
        display: none;
    }
    .nav__user {
        display: none !important;
    }
    .nav__right {
        justify-content: flex-end;
    }
    .responsive__navmenu_ico {
        display: flex;
        margin: auto;

    }

.nav__middle {
   display: none;
}
  }