.sidebar__right {
    height: 100vh;
    width: 20%;
    color: #050505;
    font-weight: 560;
    letter-spacing: .03rem;
    background-color: #eff2f5;
   
}
.sidebar__right_ad {
    margin-top: 15px;
}
.contacts__title {
    width: 95%;
    margin: 1rem auto;
    padding: 1rem 0;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color:rgb(197, 197, 197);
}

@media only screen and (max-width: 1280px) {
    .sidebar__right {
        width: 30%;
    }
}
@media only screen and (max-width: 805px) {
    .sidebar__right {
        display: none;
    }
}
