.sidebar__left {
    height: 100vh;
    width: 20%;
    color: #050505;
    font-weight: 560;
    letter-spacing: .03rem;
    background-color: #eff2f5;
    
}
.sidebar__left ul {
    margin: 0;
    padding: .5rem;
}
.sidebar__left .s__list {
    list-style-type: none;

}
.sl__item {
    display: flex;
    margin: 5px auto;
    padding: .5rem;
    border-radius: 10px;
}
.sl__item:hover {
    background: #dadde1;
    cursor: pointer;
}
.s__list .li__ico .MuiSvgIcon-root{
    font-size: 35px;
}
.li__item {
    font-size: .9375rem;
    margin: auto 10px;
    color: #050505;
}
.sidebar__logo{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.ico__arrow .MuiSvgIcon-root{
    border-radius: 50%;
    background: #ccd0d5;
}
.li__top {
    border-bottom: solid 1px rgba(94, 94, 94, 0.364);
}
.sidebar__left_title {
    margin: 1rem ;
    color: #65676b;
}

.sc__logo {
    height: 40px;
    width: 50px;
    border-radius: 10px;
}